.bgBody {
  background-image: url('/bg/shapes2.jpg');
}

#logo {
  color: var(--softBlue);
}

.wrapper {
  min-height: var(--minWrapper);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  padding: 30px 45px;
}

.createBtn {
  color: var(--softBlue);
  border-color: var(--softBlue);
}


.formRedirect>* {
  color: var(--softBlue);
  font-size: 14px;
}

.formRedirect a {
  color: var(--softBlue);
}

#nimbusLink {
  color: var(--Yellow);
}

.formItem label {
  color: var(--softBlue);
  font-size: 18px;
}

.formItem input {
  color: var(--Yellow);
}

.formButtons {
  gap: 20px;
}

.error-list {
  color: var(--Yellow);
}
