/*General*/
#curtain {
  justify-content: center;
  align-items: center
}

#curtain.form {
  padding: 20px 30px;
  border-radius: 8px;
}

#curtain .formItem {
  margin: 0 15px;
  grid-template-columns: 30% 70%;
}

#curtain h1 {
  font-family: var(--f3);
  font-size: 30px;
}

/*Create Folder */
.createFolder h1,
.createFolder label,
.createFolder button {
  color: var(--Blue);
  border-color: var(--Blue);
}

.createFolder input {
  color: var(--Blue);
}

.createFolder .btn {
  color: var(--Blue);
  border-color: var(--Blue);
}

/* Create File */

.createFile .formItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createFile h1,
.createFile label,
.createFile button {
  color: var(--Blue);
  border-color: var(--Blue);
}

.createFile input {
  color: var(--Blue);
}

/* Edit Folder */

.editFolder h1,
.editFolder label,
.editFolder button {
  color: var(--softGreen);
  border-color: var(--softGreen);
}

.editFolder input {
  color: var(--softGreen);
}

/* Delete Folder */
.deleteFolder {
  width: 100px;
  gap: 10px;
}

.deleteFolder button {
  color: var(--Red);
  border-color: var(--Red);
}


.deleteFolder h1 {
  color: var(--Red);
}

.deleteFolder p {
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

/* Share folder */
.shareFolder {
  padding-bottom: 10px;
  padding-bottom: 50px;
  gap: 30px;
}

.shareFolder h1,
.shareFolder label,
.shareFolder input {
  color: var(--softPink);
}
