.dashboardBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  min-height: calc(var(--minWrapper) - 40px);
  margin: 0 15px;
  gap: 15px;
}

/* Sidebar */
#sideBar {
  min-width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: width ease-in-out 0.3s;
}

.sideTools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.treeContainer {
  margin: 0 10px;
}

.treeBlock {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.treeBlock ul {
  padding-left: 25px;
}

.treeBlock.collapsed {
  display: none;
}


.treeLvl:not(:has(ul)) .arrowIcon {
  visibility: hidden;
}

.treeFolder {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
}

.treeFolder a {
  color: var(--softPurple);
  font-family: 'Jetbrains Mono';
  font-weight: 800;
  font-size: 14px;
  border-bottom: 2px solid var(--softPurple);

}

.currentFolder a {
  color: var(--softGreen);
  border-color: var(--softGreen);
}

.folderIcon {
  width: 18px;
}

.arrowIcon {
  display: block;
  width: 10px;
  transition: transform 0.1s ease;
}

.arrowIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.arrowIcon.rotated {
  transform: rotate(-90deg);
}

#treeRoot a {
  font-size: 16px;
  color: var(--Yellow);
  border-color: var(--Yellow);
}

.treeBtn {
  color: var(--softPink);
  border-color: var(--softPink);
}

/* Main */
#main {
  flex-grow: 1;
  margin: 0 15px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path h1 {
  font-family: var(--f3);
  font-size: 30px;
  color: var(--softBlue);
}

.path {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pathName {
  padding: 0;
  margin-bottom: 9px;
}

.pathBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pathBtns button {
  transition: transform ease-out 0.2s;
}

.pathBtns button:hover {
  transform: scale(1.1);
}

.pathBtns img {
  width: 20px;
}


.mainTools {
  display: flex;
  gap: 10px;
}

.mainTools .btn {
  font-size: 16px;
}

.newBtn {
  color: var(--Purple);
  border-color: var(--Purple);
}

.shareBtn {
  color: var(--Orange);
  border-color: var(--Orange);
}

.mainContainer {
  width: 100%;
  height: 100%;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 12px;
}

.node a {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 5px 15px;
  position: relative;
  transition: transform ease-out 0.2s, border ease-out 0.1s;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.node p {
  text-align: center;
  font-family: 'Jetbrains Mono';
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  overflow-wrap: break-word;
}

.node img {
  height: 100%;
}

.folder a {
  color: var(--Blue);
}

.folder a:hover,
.folder a:focus {
  transform: scale(1.02);
  border-color: var(--Yellow);
  color: var(--Yellow);
}

.file a {
  color: var(--softGreen);
}

.selectBlur {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: background-color ease 0.2s;
  border-radius: 5px;
}

.selectBlur:hover,
.selectBlur:focus {
  background-color: rgb(255, 255, 255, 0.05);
}
