#logo {
  font-size: 26px;
}

.navBar {
  box-sizing: border-box;
  height: var(--navHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 0;
}

.navBar a {
  font-size: 14px;
}

.navItem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
