.bgBody {
  background-image: url('/bg/shapes1.jpg');
}

.wrapper {
  min-height: var(--minWrapper);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpForm {
  padding: 30px 45px;
  min-width: 500px;
}

.formItem label {
  color: var(--Yellow);
  font-size: 18px;
}

.formItem input {
  color: var(--Yellow);
}

.formRedirect>* {
  color: var(--Yellow);
  font-size: 14px;
}

.formRedirect a {
  color: var(--Yellow);
}

.formButtons {
  gap: 20px;
}

.createBtn {
  color: var(--Yellow);
  border-color: var(--Yellow);
}

#nimbusLink {
  color: var(--softPink);
}
