include partial/head
  link(rel="stylesheet", href="/css/index.css")
  link(rel="stylesheet", href="/css/navBar.css")
  link(rel="stylesheet", href="/css/signUp.css")
  title= 'Nimbusdrive'
body(class='dashboardBody')
  .wrapper
    form(class="form signUpForm", method="POST")
      .formTitle
        h1(id='logo') Nimbus Drive
      include partial/errors
      .formItem 
        label(for='username') Username :
        input(id='username', type='text', name="username", maxlength="30" required) 
      .formItem 
        label(for='password') Password :
        input(id='password', type='password', name="password", maxlength="35" required) 
      .formItem 
        label(for='confirm') Confirm password :
        input(id='confirm', type='password', name="confirmPassword", maxlength="35" required) 
      div(class='formButtons')
        button(type='submit', class='createBtn btn') Create account 
        div(class='formRedirect')
          p Already have an account? 
          a(href='/login' class='') Login
    include partial/footer
